---
import MainLayout from './MainCentered.astro'
import CtaButton from '../components/CtaButton.astro'
const { frontmatter } = Astro.props
console.log(frontmatter)
---
<MainLayout title={`Vivic Research | ${frontmatter.title}`}>
	<h1>{frontmatter.title}</h1>
	<div id="date">{frontmatter.date.toLocaleDateString('en-US',{year: 'numeric', month: 'long'})}</div>
	<a
		class="topic" 
		href={`/work?topic=${frontmatter.topic.toLowerCase()}`}
	>
		{frontmatter.topic}
	</a>
	<div id="pdf">
		<iframe src={frontmatter.pdf}/>
	</div>
	<CtaButton link={frontmatter.pdf}>Download</CtaButton>
</MainLayout>

<style>
h1 {
	width: 70%;
	text-align: center;
	margin: 0 auto 20px auto;
	font-size: 2.5em;
}
 
#date {
	width: 70%;
	text-align: center;
	margin: 0 auto 20px auto;
	font-size: 1.2em;
}
.topic {
	display: block;
	font-size: 1.3rem;
	font-weight: bold;
	background: linear-gradient(to right, #fcd5e1, #fff, #def8f8);
	color: var(--dark);
	line-height: 1;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	padding: 0.3em 1ch 0.25em;
	border-radius: 100px;
	transform: translateY(-3px);
	width: 10ch;
	width: max-content;
	text-align: center;
	margin: 0 auto 40px auto;
	text-decoration: none;
}

.topic:hover, .topic:focus {
	background: var(--secondary);
}

#pdf {
	height: 85vh;
	width: 85%;
	margin: auto;
	margin-bottom: 80px;
}

iframe {
	height: 100%;
	width: 100%;
}
</style>
