---
import MainLayout from './Main.astro'
import CtaButton from '../components/CtaButton.astro'
const { content } = Astro.props
---
<MainLayout title={`Vivic Research | ${content.title}`}>
	<h1>{content.title}</h1>
	<a
		class="topic" 
		href={`/work?topic=${content.topic.toLowerCase()}`}
	>
		{content.topic}
	</a>
	<div id="pdf">
		<iframe src={content.pdf}/>
	</div>
	<CtaButton link={content.pdf}>Download</CtaButton>
</MainLayout>

<style>
:global(main) {
	width: 80%;
	margin: auto;
	margin-top: 250px;
	font-family: var(--mainfont);
	min-height: 100vh;
}

h1 {
	width: 70%;
	text-align: center;
	margin: 0 auto 20px auto;
	font-size: 2.5em;
}

.topic {
	display: block;
	font-size: 1.3rem;
	font-weight: bold;
	background: linear-gradient(to right, #fcd5e1, #fff, #def8f8);
	color: var(--dark);
	line-height: 1;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	padding: 0.3em 1ch 0.25em;
	border-radius: 100px;
	transform: translateY(-3px);
	width: 10ch;
	width: max-content;
	text-align: center;
	margin: 0 auto 40px auto;
	text-decoration: none;
}

.topic:hover, .topic:focus {
	background: var(--secondary);
}

#pdf {
	height: 85vh;
	width: 85%;
	margin: auto;
	margin-bottom: 80px;
}

iframe {
	height: 100%;
	width: 100%;
}
</style>
